<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Salt Example</title>
</head>
<body>
    <form accept-charset="UTF-8" action="/authenticate" data-remote="true" method="post">
        <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
        <label>Usuário:</label>
        <input id="user" name="user" type="text" /><br>
        <label>Senha:</label>
        <input id="password" name="password" type="text" /><br>
        <input name="commit" type="submit" value="Entrar" />
    </form>
</body>
</html>